$center-text: center;
header {

  h1 {
    text-align: $center-text;
    @media(max-width: 767px) {
      font-size: 28px;
      text-align: $center-text;
      font-weight: 600;
    }
  }

  p {
    text-align: center;
  }
}

main {
  .search-container {
    padding-bottom: 25px;
  }

  .img-container {
    -webkit-display: block;
    -moz-display: block;
    -ms-display: block;
    -o-display: block;
    -khtml-display: block;
    display: block;
    max-width: 100%;
    margin-bottom: 30px;

    img {
      position: relative;
      -webkit-transition: ease-in-out .1s;
      -moz-transition: ease-in-out .1s;
      -ms-transition: ease-in-out .1s;
      -o-transition: ease-in-out .1s;
      transition: ease-in-out .1s;

      &.animation {
        z-index: 99;
        transform: scale(1.09);
      }
    }
  }
}