header h1 {
  text-align: center;
}
@media (max-width: 767px) {
  header h1 {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
  }
}
header p {
  text-align: center;
}

main .search-container {
  padding-bottom: 25px;
}
main .img-container {
  -webkit-display: block;
  -moz-display: block;
  -ms-display: block;
  -o-display: block;
  -khtml-display: block;
  display: block;
  max-width: 100%;
  margin-bottom: 30px;
}
main .img-container img {
  position: relative;
  -webkit-transition: ease-in-out 0.1s;
  -moz-transition: ease-in-out 0.1s;
  -ms-transition: ease-in-out 0.1s;
  -o-transition: ease-in-out 0.1s;
  transition: ease-in-out 0.1s;
}
main .img-container img.animation {
  z-index: 99;
  transform: scale(1.09);
}

/*# sourceMappingURL=style.css.map */
